@import "compass/reset";

 //////// fluid layout //////////////
$columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$max-width: $columns * ($column-width + $gutter-width);

$font-base: 15px;
$font-base-line-height: 24px;

@function em($target, $context: $font-base) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

@function perc($width, $container-width: $max-width) {
   @return percentage($width / $container-width);
}

@function lh($amount: 1, $context: $font-base) {
   @return em($font-base-line-height * $amount, $context);
}

@mixin col($n, $padding: 0px, $border: 0px, $container-width: $max-width) {
  float: right;
  margin-right: percentage($gutter-width / $container-width);
  width:  percentage(($n * ($column-width + $gutter-width) - $gutter-width - ($padding * 2) - ($border * 2)) / $container-width);
  border-width: $border;
  padding: em($padding, $font-base) percentage($padding / $container-width);
}

/////////////////////////





$light-orange: #FFF3B6;
$banana		: #F5DB58;
$turquise	: #016881;
$dark-turq	: #024758;
$navy		: #012D38;


@mixin clearfix {
    &:after {
        content: ".";
        visibility: hidden;
        display: block;
        clear: both;
        line-height: 0;
        height: 0;
    }
}

@mixin userSelectNone {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin buttonGradient {
    background-color: $banana;
    background-image: -webkit-gradient(linear, left top, left bottom, from($banana), color-stop(0.49, $banana), color-stop(0.5, $light-orange), to($light-orange));
    background-image: -moz-linear-gradient(top center, $banana, $banana 49%, $light-orange 51%, $light-orange);
}

@mixin backgroundGradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from($banana) , color-stop(0.1, $light-orange), to($light-orange));
  background-image: -moz-linear-gradient(top center, $banana, $light-orange 150px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5DB58', endColorstr='#FFF3B6');
}

@mixin boxSizing($val:border-box) {
  -moz-box-sizing: $val;
  -webkit-box-sizing: $val;
  box-sizing: $val;
}

@mixin formField($labelWidth:100px, $padding: 0.8em) {
  @include clearfix;
  padding: $padding;

  label {
    width: $labelWidth;
    font-weight: bold;
    float: right;
  }

  .value {
    margin-right: $labelWidth + 15px;
    input {
      border: 0;
      width: 270px;
    }
  }
}

@mixin smallForm($formWidth: 400px, $labelWidth: 100px) {
  background-color: white;
  border-radius: 0.4em;
  border: 1px solid black;
  width: $formWidth;

  .field {
    @include formField($labelWidth);
    border-top: 1px solid grey;
    &:first-child {
      border-top: 0;
    }
  }

  &+.submit {
    background-color: green;
    border-radius: 0.4em;
    color: white;
    font-weight: bold;
    width: $formWidth;
    border: 1px solid black;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
  }
}

html {
    width: 100%;
    font: 100% "Arial", sans-serif;
    min-height: 100%;
}

body {
  @include backgroundGradient;
  @include clearfix;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
    font-size: 1.2em;
}

h3, h4 {
    margin: 0 0 10px 0;
}


header {
  @include col(12);
  position: relative;
  @include clearfix;
  min-height: 120px;
  padding: 30px 0;
  .title {
    background-color: $light-orange;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border: 1px solid $dark-turq;
    box-shadow: -5px 5px 5px $dark-turq;
    margin: 0 70px 0 0;
    color: $navy;
    padding: 16px;
    position: relative;

    .hello-user {
      float: left;
      position:relative;
      top: -1.45em;

      .hello-user-actions, .hello-user-actions-guest {
        display: none;
        &.active {
          display: inline;
        }
      }
      .sign-in, .sign-out {
        cursor: pointer;
        text-decoration: underline;
        color: $turquise;
        &:active {
          color: $banana;
        }

        &.connecting {
          display: none;
        }
      }

      .connecting, .disconnecting {
        display: none;
        &.active {
          display: inline;
        }
      }
    }
  }

  .anti-title {
    background-color: $light-orange;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border: 1px solid $dark-turq;
    box-shadow: -5px 5px 5px $dark-turq;
    margin: 0 70px 0 0;
    color: $navy;
    padding: 8px;
    position: relative;
    -moz-transform: /*skew(-34deg) translateX(-11px)*/ rotateX(180deg) scaleY(0.7);
    -webkit-transform: /*skew(-34deg) translateX(-11px)*/ rotateX(180deg) scaleY(0.7);
    opacity: 0.2;
  }

  .subtitle {
    @include col(7);
    color: $navy;
    margin-top: 20px;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .title-icon {
    background-image: url(/assets/Document-icon.png);
    width: 150px;
    height: 150px;
    background-size: 150px auto;
    float: right;
    position: relative;
    top: -30px;
    z-index: 1;
  }

  .actions {
    @include col(2);
    margin-top: 20px;
  }
}


.form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $banana;
    @include boxSizing;
}

.form {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.detail {
  @include clearfix;
}

.bakasha {
  width: 100%;
  border-radius: 10px;
  border: 5px solid $turquise;
  padding: 10px;
  color: $light-orange;
  background-color: $navy;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &.unfinalized {
    background-color: rgba(255,0,0,0.6);

    .pniya {
      background-color: rgba(255,0,0,0.4);
    }
  }

  h3, h4 {
    text-decoration: underline;
  }

  .bakasha-details {
    margin-bottom: 10px;

    .detail {
      label {
        width: 250px;
        float: right;
      }

      input, select {
        float: right;
      }
    }

    .bakasha-description {
      textarea {
        background-color: snow;
        border: 1px solid $turquise;
        border-radius: 0.4em;
        padding: 0.4em;
        box-shadow: 1px 0 0.4em black inset;
        float: right;
        font-family: sans-serif;
        font-size: 1em;
        width: 93%;
        color: $dark-turq;
      }
    }
  }

  .submit {
    @include buttonGradient;
    position: absolute;
    top: 30px;
    left: 48px;
    width: 150px;
    height: 50px;
    display: block;
    border: 2px solid transparent;
    border-radius: 1.1em;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 0 15px $light-orange;
    color: $navy;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  .pniyot {
    width: 100%;
  }
}

.pniya {
    padding: 10px;
    background-color: $dark-turq;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
    width: 100%;

    .mispar-pniya {
      margin-bottom: 10px;
      input.disabled {
        background-color: silver;
        color: grey;
        border: 2px solid $navy;
      }
    }

    .detail {
        label {
            width: 150px;
            float: right;
        }

        input, button {
            float: right;
        }

        span {
            float: right;
        }

        .start-filling {
            @include buttonGradient;
            border: 1px solid $navy;
            margin-right: 6px;
            border-radius: 0.3em;
            font-weight: bold;
        }

        .enter-number {
            color: red;
            display:none;
        }
    }

    .pniya-table {
        border: 1px solid black;
        border-collapse: collapse;

        thead {
            tr:first-child > th:last-child {
                border-bottom: 1px solid black;
            }

            th {
                border-left: 1px solid black;
                border-right: 1px solid black;
                text-align: center;
            }
        }

        tbody {
            color: black;
            .pniya-row {
                background-color: white;

                &:hover {
                    background-color: #E8EDFF;
                }

                td {
                    text-align: center;
                    border: 1px solid black;

                    input {
                        width: 100%;
                        border: 0;
                        display: block;
                        border: 1px solid transparent;
                        direction: ltr;
                        text-align: right;
                        background-color: rgba(255, 255, 255, 0.3);
                        @include boxSizing;

                        &:focus {
                          background-color: $banana;
                          border: 1px solid black;
                        }

                        &:nth-child(2) {
                          border-top: 1px dotted black;
                        }

                        &.one {
                          height: 2.8em;
                        }

                        &.invalid {
                          background-color: red;
                        }

                        &.diff {
                          &.positive {
                            background-color: rgba(0, 255, 0, 0.4);
                          }

                          &.negative {
                            background-color: rgba(255, 0, 0, 0.4);
                          }
                        }
                    }
                }
            }
        
            .prat-name {
              font-weight: bold;
              text-align: center;
            }
        }
    }
}

.pniya.show {
  td {
    direction: ltr;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.3);

    div {
      padding: 5px;
      &:nth-child(2) {
        border-top: 1px dotted black;
      }
      &.diff {
        line-height: 2.7em;
        &.positive {
          background-color: rgba(0, 255, 0, 0.4);
        }

        &.negative {
          background-color: rgba(255, 0, 0, 0.4);
        }
      }
    }
  }
}

.add-pniya, .add-row {
    background-color: $dark-turq;
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    color: $light-orange;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border-radius: 0.5em;
    text-decoration: none;
    display: block;
    outline: 0 none;
}

@mixin explanation($width: 200px, $height: 250px) {
  width: $width;
  height: $height;
  left: -1 * ($width + 5);
  .explanation-img {
    background-size: $width auto;
  }
}

.question-mark {
    height: 28px;
    width: 28px;
    background-image: url(/assets/question_mark_icon_blueglow.png);
    background-size: 28px;
    float: right;
    position: relative;
    margin-right: 5px;

    .explanation {
      display:none;
      visibility: hidden;
      background-color: white;
      position: absolute;
      z-index: 10;
      border: 2px solid black;
    }

    .explanation-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 11;
    }

    .spinner {
        width: 40px;
        height: 40px;
        background-image: url(/assets/loading.gif);
        background-size: 40px;
        position: absolute;
        top: 105px;
        left: 80px;
    }

    &:hover .explanation {
        display:block;
        visibility: visible;
    }
}

.detail.bakasha-date {
  .explanation {
    @include explanation(300px, 200px);
    .explanation-img {
      background-image : url(/assets/meeting_date_example.jpg);
    }
  }
}

.detail.bakasha-meeting-reason {
  .explanation {
    @include explanation(300px, 200px);
    .explanation-img {
      background-image: url(/assets/meeting_reason_example.jpg);
    }
  }
}

.detail.bakasha-description {
  .explanation {
    @include explanation(300px, 200px);
    .explanation-img {
      background-image: url(/assets/meeting_reason2_example.jpg);
    }
  }
}

.detail.mispar-pniya {
    .explanation {
      @include explanation(400px, 300px);
    }
    .explanation-img {
        background-image: url(/assets/pniya_mispar.jpg)
    }
}

.detail.bakasha-reserve-usage {
  margin-top: 10px;
}

.divider {
    width: 4px;
    height: 100%;
    float: right;
    border-left: 2px solid white;
    border-right: 1px solid black;
    cursor: col-resize;
    position: relative;
    z-index: 1;
    background-color: #CCC;
    box-shadow: -1px 0 1px #333;
}


ul.login {
    @include smallForm;
}

.content {
  @include col(12);
  padding: 10px;
}

@mixin list {
  border: 1px solid black;
  border-radius: 0.3em;
  background-color: white;
  
  li {
    border-top: 1px solid grey;
    padding: 4px;

    &:first-child {
      border-top: 0;
    }
  }

}

.scans-wrap {
  @include col(4);
  vertical-align: top;

  ul.scans {
    @include list;

    &.untagged {
      text-align: center;
      &:hover {
        background-color: $banana;
        opacity: 0.8;
        cursor: pointer;
      }

      .click-here {
        display: none;
        color: green;
        font-weight: bold;
      }
      .click-here-connecting {
        display: none;
        color: black;
      }
      &.unlogged {
        li {
          padding: 2em;

          a.logged {
            display: none;
          }

          span.unlogged {
            display: block;
            color: grey;
          }

          &:hover {
            color: transparent;
            border-color: transparent;

            .click-here {
              display: inline;
            }

            span.unlogged {
              display: none;
            }
          }
        }

        &.connecting {
          li:hover {
            .click-here {
              display: none;
            }

            .click-here-connecting {
              display: inline;
            }
          }
        }
      }

      li {
        a.logged {
          display: block;
          line-height: 5em;
        }

        span.unlogged {
          display: none;
        }
      }
    }
  }

  &:first-child {
    margin-right: 0;
  }
  a {
    text-decoration: none;
  }
}

.file_frame {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border: 5px solid $turquise;
  @include boxSizing;
}

.signin-wrap {
  text-align: center;
  h1 {
    margin-bottom: 0.5em;
  }
  ul.signin {
    @include smallForm;
    margin: 0 auto;
  }
}

.show-actions {
  margin-bottom: 10px;
}


.bakashas-list {
  @include list;
  li {
    @include clearfix;
  }

  .fields {
    padding-left: 30px;
    border-left: 2px solid black;
    display: inline-block;
    width: 400px;
    .field {
      @include formField($labelWidth: 170px, $padding: 0.3em);
    }
  }


  .bakasha-index-actions {
    display: inline-block;
    padding-right:20px;
    vertical-align: top;
  }
}

.save-button {
  border-radius: 2em;
  //background-color: rgba(255,255,255,0.3);
  box-shadow: 0 0 2em white inset;
  padding: 1em;
  position: fixed;
  top: 50px;
  left: 50px;

  button {
    &.saved {
      background-color: rgba(0, 255, 0, 0.4);
      span.saved {
        display: inline;
      }
      span.save-now {
        display: none;
      }
    }

    border: 1px solid $dark-turq;
    box-shadow: 2px 2px 1px black;
    font-size: 1.1em;
    padding: 0 1em;

    background-color: rgba(255, 0, 0, 0.4);
    span.saved {
      display: none;
    }
    span.save-now {
      display: inline;
    }
  }
}

.dialog-submit-bakasha {
  .ui-dialog-buttonset{
    float:left;
  }
}

.dialog-invalid {
  img {
    width: 440px;
    display: block;
    margin-bottom: 10px;
  }
}

.help-filling {
  margin-bottom: 20px;
  border: 5px solid black;
  background: white;
  border-radius: 1em;
  padding: 1em;
  line-height: 1.5em;

  h2 {
    font-weight: bold;
  }

  h3 {
    width: 80%;
    margin: 1em auto;
    border: 1px solid grey;
    padding: 0.3em;
  }

  .tips-title {
    font-weight: bold;
  }

  ol {
    list-style: decimal;
    padding-right: 2.5em;
  }

  .good-luck {
    text-align: left;
    margin: 10px 0;
    font: {
      size: 1.2em;
      weight: bold;
    }
  }
}

.index-right, .index-left, .index-bottom, .index-other-activities {
  background: white;
  border: 2px solid black;
  padding: 1em;
  @include boxSizing;
  line-height: 1.5em;
  border-radius: 1em;
}

.bold {
  font-weight: bold;
}

.index-wrap {
  @include clearfix;
  min-height: 250px;

  .index-right, .index-left {
    float: right;
    width: 48%;
    min-height: 250px;
  }

  .index-right {
    margin-left: 4%;
    .no-idea {
      margin: 1.5em 0;
    }
  }

  .index-left {
    .solution, .deed, .no-address {
      margin-bottom: 1em;
    }
  }
}

.index-bottom {
  margin-top: 2%;
  width: 100%;

  ol {
    list-style: decimal;
    padding-right: 2.5em;
  }
}

.index-button-start {
  margin: 4% auto;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  background-color:  #8EC754;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8EC754) , to(#6EA835));
  background-image: -moz-linear-gradient(center top , #8EC754 0%, #6EA835 100%);
  display: block;
  color: white;
  border: 2px solid grey;
  border-radius: 0.2em;

  a {
    height: 100%;
    width: 100%;
    line-height: 3em;
    text-decoration: none;
    color: white;
    display: block;
  }
}


ol {
  list-style: decimal;
  padding-right: 2.5em;
}

.index-other-activities {
  border: 2px solid green;

}