@import "compass/css3";
@import "compass/reset";

@font-face {
  font-family: "Rutz_OERegularPro";
  font-style: normal;
  font-weight: normal;
  src: url("/rutz_oeregpro-Rutz.eot") format("eot"), url("/rutz_oeregpro-Rutz.woff") format("woff"), url("/rutz_oeregpro-Rutz.svg") format("svg");
}

html {
  font-family: Rutz_OERegularPro,Arial,sans-serif;
}

body {
  direction: rtl;
}

header {
  $header-height: 120px;
  $nav-height: 30px;
  width: 100%;
  .upper {
    $upper-padding-top-bottom: 5px;
    @include background-image(linear-gradient(top, white, #ADD9E4));
    padding: $upper-padding-top-bottom 18px;
    height: $header-height - $nav-height - (2 * $upper-padding-top-bottom) - 1px;
    position: relative;

    img.logo {
      float: right;
    }

    .the-rest {
      h1 {
        font-size: 2.1em;
        margin-top: 0.2em;
        text-indent: 3px;
        font-size: 2.1em;
      }

      h2 {
        margin-top: 0.9em;
        text-indent: 3px;
      }
    }
  }

  .nav {
    height: $nav-height;
    line-height: $nav-height;
    background-color: #3F74AA;
    border-top: 1px solid white;
    padding: 0 28px;
    color: white;
    font-size: 1.1em;

    a {
      text-decoration: none;
      color: white;
      outline: none;
    }
  }

  .login {
    position: absolute;
    left: 30px;
    top: 10px;

    .hello-user-actions, .hello-user-actions-guest {
      display: none;
      &.active {
        display: inline;
      }
    }
    .sign-in, .sign-out {
      cursor: pointer;
      text-decoration: underline;
      color: $turquise;
      &:active {
        color: $banana;
      }

      &.connecting {
        display: none;
      }
    }

    .connecting, .disconnecting {
      display: none;
      &.active {
        display: inline;
      }
    }
  }

  .start {
    position: absolute;
    left: 30px;
    top: 44px;
    a {
      display: block;
      background: #8DC500;
      border: 1px solid green;
      border-radius: 0.7em;
      color: white;
      text-decoration: none;
      font-size: 1.2em;
      height: 1.7em;
      line-height: 1.7em;
      padding: 0 1.675em;
      outline: none;
    }
  }
}

.content {

}

footer {
  background: #EEF7F9;
  height: 40px;
  position: relative;
  text-align: left;
  padding: 3px 10px;

  span {
    font-size: 1.2em;
    margin-left: 10px;
    line-height: 40px;
    color: #243D7E;
  }

  img {
    float: left;
  }
}