<div class="about">
  <h1>פוקוס על: העברות תקציביות – התקציב האמיתי נסגר הרבה אחרי שנגמרים הדיונים בכנסת</h1>
  <p>
    בתחילת מרץ
    <a href="http://www.calcalist.co.il/local/articles/0,7340,L-3564192,00.html" target="_blank">אישרה ועדת הכספים קובץ העברות תקציביות ענקיות</a>
    באורך של כ-150 עמודים. כשבע מיליארד שקלים שינו את יעדם התקציבי לאחר דיון בן שעה ורבע.
  </p>
  <p>
    למעשה תקציב המדינה שמאושר מדי שנה או שנתיים הינו טיוטה בלבד. לאורך השנה מכינים פקידי האוצר ללא הרף “התאמות תקציביות”, שבמסגרתן מועברים מיליוני שקלים בין המשרדים. לרשות הח”כים – הגורם המפקח על הקצאת וביצוע התקציב – עומדות שעות ספורות לבחון את ההקצאה המחודשת של המשאבים. ההעברות מגיעות לכנסת בגרסה קשיחה, וזוכות לאישור רק מתוך התגייסות קואליציונית שכופה האוצר. בנוסף ההעברות מתאיידות מייד לאחר מכן, כך שלא ניתן לבצע מעקב ובקרה לאורך השנה.
  </p>
  <p>
    הח”כים היחידים שנוטים להתלונן, כצפוי, הינם חברי ועדת הכספים מהאופוזיציה. באחד המקרים תבעה ח”כ רוחמה אברהם מהיועץ המשפטי של הכנסת, איל ינון, לפרסם חוות דעת שתשפוט את תקינות המהלך. ינון השיב שאותו “דיון בעל השפעה מהותית על סדרי העדיפויות בתקציב, ארך כשעה ורבע בלבד, בהיעדרם של שר האוצר ושרים אחרים הנוגעים בדבר כגון שר הביטחון.. הדיון פגע ביכולתם של חברי הכנסת לממש באופן ראוי את אחד התפקידים המרכזיים של הכנסת והוועדה והוא פיקוח על תקציב המדינה”.
  </p>
  <p>
    אלא שהמצב עומד להשתנות. הסדנא לידע הציבורי פועלת בימים אלו במרץ מאחורי הקלעים לשדרג את המנגנון, ובחודשים האחרונים לקחו על עצמם חברי הקבוצה את פרויקט הנגשת ההעברות התקציביות. ”הסיפור התחיל כשפקיד ממשלתי סיפר לי שהתקציב משתנה לאורך השנה במיליארדי שקלים. כשרצינו לבדוק מה עובר ולמפות אותו גילינו שזה לא זמין ברשת”, מספר מנכ”ל העמותה, יובל אדמון. “פנינו לאוצר והם אמרו ‘נחזור אלייך’. לאחר מכן פנינו לוועדת הכספים שם סיפרו לנו שהם מקבלים עותקים קשיחים של ההעברות, לעיתים באותו יום. הכנסת מעבירה סכומי עתק שכוללים מאות ההעברות מדי כמה ימים – בלי התעמקות”.
  </p>
  <p>
    כשפעילי הסדנה ביקשו מהוועדה את מסמכי ההעברות-עבר הפ הופנו לארכיון. “בתהליך עקום לחלוטין”, מספר אדמון, “צילמנו דף-דף, חלק באייפון, ואספנו אלפיים מסמכים של 2011 בלבד”.
  </p>
  <img src="/odot.png">
  <span>אדמון (מימין). “צילמנו דף-דף, חלק באייפון”. צילום: אריאל בשור / כל הזכויות שמורות לכלכליסט</span>
  <p>
    פעילי העמותה התגייסו למאמץ. עמית צור, מתנדב בסדנא ומתכנת בחברת סטארט אפ לקח יום חופש מהעבודה, נסע לכנסת וסייע בסריקות 700 דפים. “זה נראה לי מטרה ראויה, זה חלק מהפאזל שאנו מנסים להרכיב להנגשת המידע”, הוא מסביר. “אני אפילו לא מבין את התוכן, אבל אני רואה שלאנשים מסוימים זה מתחבר והם עושים עם המידע דברים מדהימים”. מתנדב אחר הביא את אביה של אשתו ליום התנדבות.

    “אגב המסמכים מודפסים במדפסות המיושנות ביותר שאני מכיר”, מתרעם אדמון. “עם זאת רואים שזה פלט של מערכת ממוחשבת. כלומר, האוצר יכול היה להעביר לנו קבצים”.
  </p>
  <p>
    בהתכתבויות של חברי הקבוצה ניתן למצוא משפטים כמו “מעניין, 27/12/2010:  העברת 3.729 מיליון שקל מסעיף 67 לסעיף 24 לצורך מימון הפעילות השוטפת של המשרד (משרד הבריאות, מספר פניה 1004 ל-1006, 1014 עד 1017, 1000) למה לא מפורט בדיוק מה המשרד צריך? תקציב המשרד לא גדול דיו (23 מיליארד שקל)?”

    או: “העברת 30.563 מיליון שקל מסעיף 47 רזרבה כלית לסעיף 20 חינוך בהתאם לסעיף 12  (א) לחוק יסודות התקציב, התשמ”ה – 1985 – עבור המגזר הדרוזי, הצ’רקסי, והבדואי בצפון על מנת לאפשר חתימת הסכם דו שנתי הכול מתן שעות הוראה למורים המתגברים למידה לבחינות הבגרות, בהתאם להחלטת הממשלה 412 ו-413 מיום 31 באוגוסט 2006. (מספר פניה לוועדה 1021, 1022) אני לא מצאתי באתר הממשלה את ההחלטה הזו”.

  </p>
  <p>
    וגם: “28/12/2010 העברת 4.00 מיליון שקל מסעיף תשלום ריבית – לתקצוב חידוש מבנים במערכת החינוך (מספר פניה לוועדה 1025, 1026) אין פירוט של איזה מבנים”.
  </p>
  <p>
    כעת ממירים בעמותה את הקבצים לפורמט PDF ובהמשך יקשרו אותם לפרוטוקולים של אותם דיונים בוועדת הכספים. במקביל, אחד הרעיונות שמתגלגלים הוא לתרגם את ההעברות לסרט בן ארבע דקות שיראה כיצד תקציב 2011 השתנה לאורך השנה, מה ירד ומה עלה, ושינויים בעקבות המחאה.
  </p>
  <p>
    מכיוון שמדובר בכמות מידע אדירה, בעמותה שוקלים להעלות את כל הקבצים לרשת ולגייס את חוכמת ההמון לניתוחם. אדמון: “זו אמירה שתדחוק את האוצר לעשות זאת בעצמו. אין סיבה שלא יקרה הדבר הבא: כל שבוע לפני הישיבה של ועדת הכספים יועלו לאתר הוועדה ההעברות בצורה מפורטת. הח”כים יוכלו להתייעץ עם מומחים במקום להיות חותמת גומי. אם האוצר יעלה את כל המידע גם רטרואקטיבית, פעילים יוכלו לנתח את ההעברות ולהתריע לפני העברות בעייתיות. זה גם יחייב את האוצר לנמק טוב יותר את ההעברות. הח”כים לא יירצו ליפול בפח כשכל הציבור מסתכל עליהם”.

  </p>
</div>