<div class="contact">
  <h1><%=t :contact %></h1>
  <div class="to-hasadna">
    <h2><%=t :go_to_hasadna %>:</h2>
    <a class="hasadna-link" href="http://www.hasadna.org.il/">הסדנא לידע ציבורי</a>
  </div>
  <div class="to-mail">
    <h2><%=t :send_mail %>:</h2>
    <a class="mail-link" href="mailto:openmoney@hasadna.org.il">openmoney@hasadna.org.il</a>
  </div>
</div>