<div class="crowdsourcing">
  מתוך
  <a href="http://he.wikipedia.org/wiki/%D7%9E%D7%99%D7%A7%D7%95%D7%A8_%D7%94%D7%9E%D7%95%D7%A0%D7%99%D7%9D" target="_blank">ויקיפדיה</a>:
<br>
מיקור המונים (באנגלית: Crowdsourcing) הוא הפנייה של ביצוע משימה או משימות, אשר לרוב היו מתבצעות בידי עובדי חברה או עובדים מטעמה, לביצוע על-ידי קהל גדול ("המונים").

  <div class="help under-construction">
    <img src="/construction.jpg">
    תחת בנייה...
  </div>
</div>