<tr class="pniya-row">
    <td><%= haavara.text_field :prat %></td>
    <td>&nbsp;</td>
    <td><span>מ-</span><br><span>ל-</span></td>
    <td><input type="text" name="hotsaa-from-{{id}}-{{row}}"/><input type="text" name="hotsaa-to-{{id}}-{{row}}"/></td>
    <td><input type="text" name="hotsaa-mut-from-{{id}}-{{row}}"/><input type="text" name="hotsaa-mut-to-{{id}}-{{row}}"/></td>
    <td><input type="text" name="harshaa-from-{{id}}-{{row}}"/><input type="text" name="harshaa-to-{{id}}-{{row}}"/></td>
    <td><input type="text" name="ska-from-{{id}}-{{row}}"/><input type="text" name="ska-to-{{id}}-{{row}}"/></td>
    <td><input type="text" name="diff-hotsaa-{{id}}-{{row}}"/></td>
    <td><input type="text" name="diff-hotsaa-mut-{{id}}-{{row}}"/></td>
    <td><input type="text" name="diff-harshaa-{{id}}-{{row}}"/></td>
    <td><input type="text" name="diff-ska-{{id}}-{{row}}"/></td>
</tr>