<div class='form'>
    <div class='title-icon'></div>
    <h1 class='title'>אם כבר הגעת לכאן...</h1>
    <h2 class='subtitle'>יהיה נחמד אם תואיל/י למלא את הפרטים הבאים בהתאם לתמונות מימין:</h2>
    <div class='bakasha'>
        <h3>בקשה להעברה תקציבית</h3>
        <%= render 'form' %>
        <div id='add-pniya' class='add-pniya' title='הוסף פנייה'>+</div>
    </div>
</div>